  
 @font-face {
   font-family: 'ChelseaMarket';
   src: url('/assets/ChelseaMarket.ttf')
 }

 @font-face {
   font-family: 'RobotoMono';
   src: url('/assets/RobotoMono.ttf');
 }
 

 #container {
    height: 100%;
    width: 100%;
  
  }
  #PlanyourVisit {
    position: absolute;
    right: 70%;
    height: auto;
    top: 4%;

    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px; 
    background: #FF764E;
    font-family: 'RobotoMono';
    font-size: 160%;
  }


  #LearnaboutthePark {
    position: absolute;
    right: 36%;
    height: auto;
    top: 4%;

    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px; 
    background: #5ED3EB;
    font-family: 'RobotoMono';
    font-size: 160%;
  }
  #GetInvolved {
      position: absolute;
      right: 10%;
      height: auto;
      top: 4%;

      margin: 0 10px;
      border: 1px solid lightgray;
      padding: 20px;
      display: inline-block;
      border-radius: 20px;
      color: white;
      text-decoration: none;
      margin-bottom: 20px; 
      background: #FFCD69;
      font-family: 'RobotoMono';
      font-size: 160%;
  }

  #headerimg {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    max-width: 20%;
    max-height: 20%;
    margin-top: 10%;
    margin-right: 0;
    margin-left: 5%;
  }

  #YPG {
    position: absolute;
    right: 0%;
    margin-top: 10%;
    margin-right: 25%;
    font-family: 'ChelseaMarket';
    font-size: 290%;
    word-spacing: auto;
  }

  #YPGt {
    position: absolute;
    right: 0%;
    margin-top: -10%;
    margin-right: 10%;
    font-family: 'RobotoMono';
    font-size: 160%;
  }

  #indent {
    margin-right: 0%;
    margin-left: 13%;
  }
  
  #i1 {
    text-align: left;
    margin-right: 30%;
    margin-left: 20%;
  }

  section.briefinfo {
    background-color: #DDB9A3;
    padding: 2%;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 150px;
    margin-top: 150px;
    font-family: 'RobotoMono';
    color: white;
    font-size: 150%;
  }

  #fire {
    max-width: 15%;
    max-height: 15%;
    margin-top: -5%;
    margin-right: 0;
    margin-left: 40%;
  }

  div.firetext {
    position: absolute;
    right: 0%;
    margin-top: 1%;
    margin-right: 30%;
    margin-left: 30%;
    font-family: 'RobotoMono';
    font-size: 160%;
    text-align: center;
    line-height: 1.5;
  }

  #vroom {
    max-width: 15%;
    max-height: 15%;
    margin-top: 35%;
    margin-right: 0;
    margin-left: 40%;
  }

  div.vroomtext {
    position: absolute;
    right: 0%;
    margin-top: 1%;
    margin-right: 30%;
    margin-left: 30%;
    font-family: 'RobotoMono';
    font-size: 160%;
    text-align: center;
    line-height: 1.5;
  }

  #footer {
    position: absolute;
    margin:  auto; 
    width: 1900px;
    margin-top:500px;
    max-height:800px;
    clip: rect(0px,3000px,500px,0px);
  }


  #PlanyourVisit2 {
    position: absolute;
    right: 70%;
    height: auto;
    top: 380%;

    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px; 
    background: #FF764E;
    font-family: 'RobotoMono';
    font-size: 160%;
  }


  #LearnaboutthePark2 {
    position: absolute;
    right: 36%;
    height: auto;
    top: 380%;

    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px; 
    background: #5ED3EB;
    font-family: 'RobotoMono';
    font-size: 160%;
  }
  #GetInvolved2 {
      position: absolute;
      right: 10%;
      height: auto;
      top: 380%;

      margin: 0 10px;
      border: 1px solid lightgray;
      padding: 20px;
      display: inline-block;
      border-radius: 20px;
      color: white;
      text-decoration: none;
      margin-bottom: 20px; 
      background: #FFCD69;
      font-family: 'RobotoMono';
      font-size: 160%;